.content label {
  text-align: center;
  display: flex;
  margin: 2px;
  margin-left: 45%;
  font-family: Arial, Helvetica, sans-serif;
}

.content p {
  text-align: center;
  display: flex;
  margin: 2px;
  margin-left: 45%;
  font-family: Arial, Helvetica, sans-serif;
}

.content img {
  border-radius: 25px;
  max-width: 250px;
}

.details {
  text-align: left;
  align-items: left;
}

.content {
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
}
